{# Geschichtenkapsel overview-page template #} 
{# Version: 1 #}


{% import "metaebene-macros" as metaebene %}

{% if option.icon_size %}
    {% set icon_size = icon.icon_size %}
{% else %}
    {% set icon_size = '96' %}
{% endif %}

{% if option.avatar_size %}
    {% set avatar_size = option.avatar_size %}
{% else %}
    {% set avatar_size = '48' %}
{% endif %}

{#
{% if not option.role %}
  {% set option.role = 'guest' %}
{% endif %}
#}

<div class="episode-overview">

{% set episode_count = 0 %}
{% for episode in podcast.episodes %}
    {% set episode_count = episode_count + 1 %}
    {% if episode_count == 1 %}
		{# Featured Episode #}

        <div class="before_title">
            <strong>Zuletzt in der Geschichtenkapsel…</strong>
        </div>

        <div class="featured-episode">

            {{ episode.player({context: 'landing-page'}) }}

			</br><em><a title="{{ episode.title }}" href="{{ episode.url }}">Zur Kapsel…</a></em>

		</div>
    {% endif %}
{% endfor %}

{% if episode_count > 1 %}

    <strong>Außerdem…</strong>
    
    <div class="recent-episodes">
		<table class="recent-episodes-table">
    		{% set episode_count = 0 %}
    		{% set recent_episodes = 4 %}

    	    <colgroup>
    	        <col id="episode_icon" width="{{ icon_size + 16 }}" />
    	        <col id="episode_description" />
    		</colgroup>

    		<tbody>
    		    {% for episode in podcast.episodes %}
    			    {% set episode_count = episode_count + 1 %}
    			    {% if recent_episodes >= 0 and episode_count > 1 %}
    			        <tr id="{{ episode.slug }}" class="archive_episode_row">
    			            <td class="episode_icon">
                                <a href="{{ episode.url }}">
                                      <img class="episode_icon" border="0" src="{{ episode.imageUrlWithFallback }}" width="{{ icon_size }}" height="{{ icon_size }}">
                                </a>
                            </td>
    			            <td class="episode-description">
    			                <div class="recent-episode-title"><a href="{{ episode.url }}">{{ episode.title }}</a></div>
    			                <div class="recent-episode-subtitle">{{ episode.subtitle }}</div>

    			                <div class="episode_meta">
    			                    {{ metaebene.print_date(episode.publicationDate, language) }} {{ metaebene.print_duration(episode.duration, language) }}
    			                </div>
    			            </td>
    			        </tr>
    				{% endif %}
    			    {% set recent_episodes = recent_episodes - 1 %}
    			{% endfor %}
    	    </tbody>
		</table>
		 {% if episode_count > 5 %}
	<p><em><a title="Archiv" href="/archiv/">Alle Kapseln…</a></em></p>
	    {% endif %}
    </div>
{% endif %}
</div>

<style>
.recent-episodes-table {
    border-top: 2px solid #ddd;
    border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.episode_icon {
    vertical-align: middle;
}
.recent-episode-title {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.recent-episode-title a {
    font-size: 1.0em;
    text-decoration: none;
    border: 0;
    font-weight: bold !important;
}
.recent-episode-subtitle {
    font-size: smaller !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.before_title {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    margin-bottom: 10px;
}
div.episode-overview {
    width: 100%;
}
div.featured-episode {
    padding: 12px;
	margin-bottom: 24px;
	width: 100%;
}
div.podlovewebplayer_wrapper {
	margin-bottom: 24px;
	width: 100%;
}
div.episode-contributors {
	float: right;
	margin-left: 10px;
}
div.recent-episode-contributors {
	font-weight: bold;
}
div.episode-footer {
	clear: right;
}
.archive_episode_row td {
    vertical-align: top;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid #ddd !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

img.tiny_icon {
    margin-top: -0.2em;
}
</style>
